svg {
  border: 1px solid red;
  width: 25px;
  margin: 10px;
}
.navtop {
  border: 3px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
}
img {
  border: 1px solid red;
  width: 28%;
  border-right: 3px solid grey;
  padding-right: 20px;
}
.navtop > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navtop > div:first-child {
  width: 30%;
  border: 3px solid black;
}
.navtop > div:first-child > p {
  display: flex;

  margin: 10px;
}
.navtop > div:nth-child(2) {
  border: 3px solid green;
}
span {
  border: 1px solid teal;
  margin: 0 1px;
  color: #ff42a0;
}
p {
  font-size: 18px;
  margin: 10px;
}

.navmid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navmid > div:first-child {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  padding-bottom: -20px;
  width: 15%;
  margin-left: 10px;
}
.navmid > div > span {
  margin-left: 30px;
  margin-right: 5%;
}
.navmid > div > input {
  border: none;
}

.navmid > div > h1 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
}
.navmid > div:last-child {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
}
.navmid > div:last-child > div {
  margin: 10px;
}

.navbw {
  border: 4px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.navbw > p {
  font-size: 17px;
  font-weight: bold;
  font-family: "Avenir-NextBold";
}
#sticky {
  visibility: hidden;
  background-color: red;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* transition: transform 1s ease-out, visibility 10s; */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#sticky > div {
  display: flex;
}
#sticky > div:first-child {
  margin-left: 20px;
  letter-spacing: 5px;
}
#sticky > div:last-child {
  margin-right: 20px;
}
#sales_page > div:first-child > img {
  width: 100%;
}
#sales_page > div {
  margin-top: 20px;
  cursor: pointer;
}
#sales_page > div:nth-child(2) > img {
  width: 100%;
}
#sales_page > #beauty-offers {
  display: grid;
  width: 95%;
  border: 3px solid teal;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin: auto;
}
#sales_page > #beauty-offers > div {
  border-top: 1px solid gray;
}
#sales_page > #beauty-offers > div > img {
  width: 100%;
}

#cruser1 {
  width: 100%;
  padding: 0 -20px 0 0;
}
#cruser1 > button {
  position: absolute;
  top: 92%;
  font-size: 40px;
  border-radius: 50%;
  font-weight: bold;
  background-color: transparent;
  display: none;
  background-color: rgba(186, 186, 186, 0.01);
}

#cruser1 > button:nth-child(2) {
  left: 2%;
}
#cruser1 > button:nth-child(3) {
  right: 2%;
}
.crouser_button {
  width: 10%;
  margin: auto;
}
.crouser_button > button {
  border-radius: 50%;
  background-color: rgb(210, 205, 205);
  padding: 7px;
  margin: 5px;
  border: none;
}
