*{
    margin: 0px;
    padding: 0px;
}
#head{
    border: 1px solid black;
    width: 85%;
    margin: auto;
}
#head>img{
    width: 100%;
   margin-top: 50px;
}
#container{
    border: 1px solid blue;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#container>div:nth-child(1){
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(62, 61, 61);
}
#container>div:nth-child(1)>p{
    padding-top: 15px;
}
#container>div:nth-child(1)>h3{
    color: black;
}
#container>div:nth-child(2)>div:nth-child(1){
    padding:15px 0px 0px 50px; 
    width: 800px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    margin: 40px 20px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 237, 237);
}
#container>div:nth-child(2)>div>span{
    font-size: medium;
    font-weight: lighter;
    margin-left: 30px;
}
#container>div:nth-child(2)>#box{
    display: flex;
   
}