.navtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
  }
  img {
    width: 28%;
    padding-right: 20px;
  }
  .navtop > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navtop > div:first-child {
    width: 30%;
  }
  .navtop > div:first-child > p {
    display: flex;
    margin: 10px;
  }
  
  .navtop > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navtop > div:last-child > p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gray;
  }
  .navtop > div:last-child > p:first-child {
    border: none;
  }
  span {
    margin: 0 1px;
    color: #ff42a0;
  }
  p {
    font-size: 18px;
    margin: 10px;
  }
  #logDiv > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logDivSticky > div{
    border-left: 1px solid grey;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navmid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .navmid > div:first-child {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    padding-bottom: -20px;
    width: 15%;
    margin-left: 10px;
  }
  .navmid > div > span {
    margin-left: 30px;
    margin-right: 5%;
  }
  .navmid > div > input {
    border: none;
  }
  
  .navmid > div > h1 {
    letter-spacing: 5px;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
  }
  .navmid > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
  }
  .navmid > div:last-child > div {
    margin: 10px;
    padding-right: 4px;
    border-right: 2px solid gray;
  }
  .navmid > div:last-child > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .navbw {
    border-bottom: 1px solid gray;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  .navbw > p {
    font-size: 17px;
    font-weight: bold;
    font-family: "Avenir-NextBold";
  }
  #sticky {
    visibility: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* transition: transform 1s ease-out, visibility 10s; */
    font-family: sans-serif;
    font-size: 14px;
    z-index: +1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
  }
  #sticky > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sticky > div:first-child {
    margin-left: 20px;
    letter-spacing: 5px;
  }
  #sticky > div:last-child {
    margin-right: 20px;
  }
  #sticky > div:last-child > p {
    border-left: 1px solid gray;
    margin-left: 20px;
    padding-left: 10px;
  }

  #footer {
    margin-top: 50px;
  }
  #footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer > div > button {
    background-color: #abc72c;
    padding: 10px 15px;
    border: none;
  }
  #footer > #news {
    padding: 60px 10px 20px 10px;
    background-color: #f2f2f2;
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }
  #footer > #footermiddle {
    display: flex;
    flex-direction: column;
  }
  #footer > #news > div:nth-child(2) {
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer > #news > div:nth-child(2) > input {
    border: none;
    width: 76%;
    border: none;
    padding: 5px 10px;
  }
  #footer > #news > div:nth-child(2) > button {
    padding: 5px 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
  }
  #footer > div > div > p {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: gray;
  }
  #footer > div > div > h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: #656565;
  }
  #footer > div:nth-child(4) {
    display: flex;
    margin-top: 20px;
    letter-spacing: 5px;
  }
  #footer > div:nth-child(4) > h4 {
    font-size: 14px;
    margin: 30px;
    font-weight: 900;
  }
  #footer > div:nth-child(4) > h4:hover {
    color: #ff42a0;
  }
  #footer > div:nth-child(5) {
    width: 100%;
    height: 50px;
  }
  #footer > div:nth-child(5) > i {
    margin: 20px;
  }
  #footer > div:nth-child(5) > i:hover {
    color: #ff42a0;
  }
  #footer > div:nth-child(6) > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-right: 1px solid #656565;
    padding-right: 1%;
  }
  #footer > div:nth-child(n + 7) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #footer > div:nth-child(n + 7) > div:first-child > h3 {
    font-size: 16px;
    font-weight: bold;
  }
  #footer > div:nth-child(n + 7) > div:last-child {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #footer > div:nth-child(n + 7) > div:last-child > p {
    border-right: 1px solid #292929;
    padding-right: 1%;
    margin-top: 5px;
    font-size: 12px;
  }
  #footer > div:nth-child(n + 7) > div:last-child > p:hover {
    color: #ff42a0;
  }
  #footer > div:nth-child(n + 7) > div:last-child > p:last-child {
    border: none;
  }
  
  /* gaurav code */
  #navbar {
    width: 97%;
    height: 90px;
    position: relative;
  }
  #navbar ul li {
    margin: auto;
  }
  .homediv {
    color: white;
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 10px;
    top: 58px;
    height: 200px;
    overflow: hidden;
    padding: 20px;
    font-size: 10px;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    opacity: 0;
  }
  .cnt{
      margin-right:20px;
  }
  ul {
    list-style: none;
    display: flex;
    font-weight: 700;
    width: 100%;
  }
  li {
    margin-left: 10px;
    padding: 10px;
  }
  li:hover{
      color: #FF42A3;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #navbar li:hover .homediv {
    opacity: 1;
    color: black;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    height: 200px;
    left: 0px;
    padding: 0px 100px;
    top: 58px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    bottom: 10px;
    visibility: visible;
    display: flex;
    margin-right: 0px;
  }
  .homediv>div p{
    font-size: 12px;
    color: black;
    font-weight: 400;
    margin: 0px;
    padding: 0px 10px;
  }
  .homediv>div p:hover{
      color: #FF42A3;
      cursor: pointer;
  }
  .homediv>div h6{
      margin: 0px;
    padding: 10px;
  }
  .homediv>div h6:hover{
      color: #FF42A3;
      cursor: pointer;
  }
/* pavan */
* {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
  }
  #container_login {
    width: 20%;
    border: 1px solid white;
    border-radius: 15px;
    margin: auto;
    margin-top: 40px;
    padding: 0px 15px 0px 15px;
  }
  #container_login > #login_main {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    top: 150px;
    right: 35%;
    background-color: white;
    width: 30%;
    padding: 20px;
  }
  #container_login > #login_main > #cross {
    margin-left: 90%;
    width:50px;
    height:30px;
    background-color: white;
    cursor: pointer;
  }
  #container_login > #login_main > #cross > img {
    width:100%;
    height:100%;
  }
  #container_login > #login_main > #form1 {
    width: 94%;
    margin: auto;
    margin-bottom: 30px;
  }
  #container_login > #login_main > #form1 > input {
    width: 100%;
    margin: 8px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 5px;
  }
  #container_login label > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  #container_login p {
    color: grey;
    font-size: 16px;
    text-align: center;
    margin-top: -10px;
  }
  #container_login #signin {
    padding: 12px;
    width: 100%;
    font-size: medium;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ff3399;
  }
  #container_login label {
    font-size: medium;
  }
  #container_login span {
    color: blue;
    text-align: left;
  }
  #container_login button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285f4;
    font-weight: bold;
    font-size: medium;
    border: 1px solid white;
  }
  #container_login button > img {
    height: 60%;
  }
  #container_login button > div {
    margin: auto;
    color: white;
  }
  #container_login button + button {
    background-color: #3b5998;
    margin-top: 10px;
  }
  #container_login button + p {
    margin-top: 30px;
  }
  #container_login #privacy {
    color: #ff3399;
  }
  #container_login button + button > img {
    width: 12%;
    margin-left: 30px;
  }
  


  /* gaurav */
* {
    margin: 0px;
    padding: 0px;
  }
  #container,
  #container1,
  #container2,
  #container3{
    display: flex;
    width: auto;
    margin-left: 100px;
    justify-content: right;
    /* border: 1px solid green; */
  }
  #container div,
  #container1 div
  ,#container2 div
  ,#container3 div{
    /* border: 1px solid blue; */
    position: relative;
    margin-left: 20px;
  }
  
  #container > div h3,
  #container1 > div h3,
  #container2 > div h3,
  #container3 > div h3
  {
    text-align: center;
    margin-bottom: 2px;
    font-size: 20px;
  }
  #container > div
  p,
  #container1 > div
  p,
  #container2 > div
  p,
  #container3 > div
  p {
    text-align: center;
    margin-bottom: 2px;
    font-size: 16px;
  }
  .child img,
  .child1 img,
  .child2 img,
  .child3 img{
    width: 139.55px;
    height: 180px;
  }
  .child,
  .child1,
  .child2,
  .child3{
    display: none;
  }
  #containertop,
  #containertop1,
  #containertop2,
  #containertop3{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: flex-end;
    /* margin: auto; */
  }
  #btnright,
  #btnright1,
  #btnright2,
  #btnright3{
    width: 60px;
    height: 30px;
    /* border-radius: 50%; */
    border: none;
    padding: 10px;
    margin-top: 110px;
    background-color: transparent;
    font-weight: 900;
    font-size: 25px;
    color: grey;
  }
  #btnleft,
  #btnleft1,
  #btnleft2,
  #btnleft3{
    width: 60px;
    height: 30px;
    /* border-radius: 50%; */
    padding: 10px;
    margin-top: 110px;
    background-color: transparent;
    font-weight: 900;
    margin-right: -100px;
    font-size: 25px;
    color: grey;
    border: none;
  }
  .card-btn,
  .card-btn1,
  .card-btn2,
  .card-btn3{
    position: absolute;
    bottom: 120px;
    height: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 100%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #21DFCF;
    /* border-radius: 20px 20px 0px 0px; */
    transition: 0.5s;
    /* cursor: pointer; */
    opacity: 0;
    /*  */
    display: flex;

    /* border: 10px solid saddlebrown; */
  }
  .card-btn:hover,
  .card-btn1:hover,
  .card-btn2:hover,
  .card-btn3:hover{
    background: #21DFCF;
    color: #21DFCF;
    /* border-radius: 10px; */
  }
  #container > div:hover .card-btn,
  #container1 > div:hover .card-btn1,
  #container2 > div:hover .card-btn2,
  #container3 > div:hover .card-btn3{
    opacity: 1;
  }
  #cartcollection button,
  #cartcollection1 button,
  #cartcollection2 button,
  #cartcollection3 button{
    /* border: 1px solid rgb(255, 47, 220); */
    display: grid;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    
  }
 
  #cartcollection, 
  #cartcollection1,
  #cartcollection2,
  #cartcollection3{
      width: 40%;
    height: 40%;
    display: inline-block;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
  }
  #bagcollection,
  #bagcollection1,
  #bagcollection2,
  #bagcollection3{
    width: 40%;
    height: 40%;
    display: inline-block;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
  }
  #cartcollection img,
  #cartcollection1 img,
  #cartcollection2 img,
  #cartcollection3 img{
    /* border: 1px solid red; */
    width: 100%;
    /* background-color: aqua; */
    height: 100%;
    background: #21DFCF;
    color: #21DFCF;
   
  }
  #bagcollection img,
  #bagcollection1 img,
  #bagcollection2 img,
  #bagcollection3 img{
    /* border: 1px solid red; */
    width: 100%;
    /* background-color: aqua; */
    height: 100%;
    display: block;
    /* position: absolute;
      top: 10px; */
      background: #21DFCF;
    color: #21DFCF;
  }

/* --------------- */


#tbody{
    width: 90%;
    margin: auto;
}
#productname{
    width: 100%;
    display: flex;
    font-size: 16px;
    margin-top: 20px;
}
#productname>p:last-child{
    color: red;
}
#tbody>img{
    width: 100%;
    margin: auto;
    margin-top: 25px;
}
#products{
    width: 100%;
    display: flex;
    margin-top: 20px;
}
#shop{
    width: 30%;
}
#shop>p{
  margin-left: 0px;
  /* margin: auto; */
  display: flex;
  line-height: 30px;
}
#shop>p:first-child{
    font-weight: bold;
    line-height: 35px;
}
#productdetails{
    width:70%;
    margin: auto;
}
#productdetails>img{
    width: 100%;
}
.anch{
    width: 12%;
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
    margin: auto;
    margin-right: 0px;
    text-decoration: none;
}
.anchor{
    text-decoration: none;
    color: black;
}

#justarrivedproduct,#bestseller{
    /* border: 1px solid orangered; */
    display: flex;   
    justify-content: right;
    margin-bottom: 20px;
}

#navbars ul li {
  width: 150px;
  margin-top: 15px;
  margin-left: 0px;
  padding: 0px;
  display: grid;
  align-items: center;
 
  text-align: center;

}
/* ++++++++++++++++++++++++++++++++++*/
#navbars li:hover .homediv {
  opacity: 1;
  color: black;
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  height: 200px;
  left: 0px;
  padding: 0px 100px;
  top: 58px;
 
  bottom: 10px;
  visibility: visible;
  display: flex;
  margin-right: 0px;
}
/* +++++++++++++ */
#navbars>div ul {
  list-style: none;
  display: flex;
  font-weight: 700;
  width: 100%;
}
